table,
.table {

  $block-name:                &; // #{$block-name}__element

  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid $border-color;
  margin: 16px 0;

  caption {
    padding-bottom: 0.5em;
    text-align: initial;
    caption-side: top;
    font-size: $font-size-sm;
    line-height: 1em;
    color: $text-muted;
  }

  td,
  th {
    padding: 6px 16px;
    vertical-align: top;
    border-bottom: 1px solid $border-color;

    &:not(:first-child) {
      border-left: 1px solid $border-color;
    }
  }

  th {
    font-weight: 600;
    text-align: left;
    //white-space: nowrap;
  }

  &__header {}

  &__body {}

  &__footer {}
}
