.modal-reg {

  $block-name:                &; // #{$block-name}__element

  .reg-social {
    margin-bottom: 24px;
  }

  &__dialog {

    @media (min-width: 375px) {
      max-width: 360px !important;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__content {
    background-color: $body-bg;
    border-radius: $border-radius--lg;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 12px;
    border-bottom: 1px solid $border-color;
  }

  &__title {

  }

  &__nav {

  }

  &__tabs {
    gap: 24px;
  }

  &__nav-link {
    height: 48px;
    padding: 8px;
    padding: 8px;
    font-family: inherit;
    font-weight: 600;
    color: $title-color;
    cursor: pointer;
    user-select: none;

    &:hover,
    &:focus {
      color: $link-color--hover;
    }

    &.active {
      color: $link-color !important;
    }
  }

  &__body {
    padding: 16px 24px 24px;
  }

  &__action {
    //padding: 12px 24px 24px;

    .btn {
      width: 100%;
    }
  }

  &__input-wrapper {

    & > * + * {
      margin-top: 24px;
    }
  }
}
