.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 56px;
  margin: 0;
  padding: 0  $field-padding-horizontal;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  font-family: inherit;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: $white;
  border-radius: $border-radius;
  border: none;
  background-color: $main-color;
  background-image: none;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
    background-color: $link-color--hover;
    // border-color: darken($gray-lighter, 12%);
  }

  &:active {
    background-color: $link-color--hover;
  }

  &--disabled,
  &:disabled {
    // opacity: $opacity;
    color: $text-muted;
    background-color: $input-bg--disabled;
    cursor: not-allowed;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  svg + span,
  span + svg {
    margin-left: 10px;
  }

  svg {
    //width: 24px;
    //height: 24px;
    fill: currentColor;
  }

  span {
    line-height: 56px;
  }

  &--cta {
    font-size: 20px;
    font-weight: 500;
    background-color: $accent-color;
    //border: 1px solid $main-color;

    &:hover,
    &:focus {
      //color: #fff;
      background-color: $accent-color--hover;
      //border-color: darken($color-main, 12%);
    }

    // &:active {
    //   background-color: $main-color;
    // }

    &--disabled,
    &:disabled {
      color: $text-muted;
      background-color: $input-bg--disabled;
      cursor: not-allowed;

      @at-root a.btn--disabled {
        pointer-events: none;
      }
    }
  }

  &--icon {
    width: 48px;
    height: 48px;
    min-height: auto;
    padding: 0;
    color: inherit;
    background-color: transparent;
    box-shadow: none;

    &:hover,
    &:focus {
      color: $accent-color;
      background-color: transparent;
    }

    // &:active {
    //   color: $accent-color--hover;
    // }
  }

  &--no-bg {
    color: $title-color;
    background-color: transparent;
    box-shadow: none;

    &:hover,
    &:focus {
      color: $link-color;
      background-color: transparent;
    }

    &--disabled,
    &:disabled {
      color: $text-muted;
      background-color: transparent;
      cursor: not-allowed;

      @at-root a.btn--disabled {
        pointer-events: none;
      }
    }
  }
}
