.field-radio {

  $block-name:                &; // #{$block-name}__element

  display: block;
  //margin-bottom: 16px;

  &__title {
    display: block;
    margin-bottom: 16px;
    line-height: $line-height;
    font-weight: 500;
    color: $text-color;
  }

  &__input-wrap {
    //margin-right: 24px;
    margin-bottom: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__name {
    position: relative;
    display: inline-block;
    padding-left: 36px;
    //margin-right: 0.6em;
    font-weight: 400;
    line-height: 1.3;
    cursor: pointer;

    // &:hover {

    //   #{$block-name}__name-text {
    //     color: $link-color--hover;
    //   }
    // }

    &--pay {
      width: 100%;
      padding: 24px 32px 24px 80px;
      font-size: $font-size--h5;
      font-weight: 500;
      border: 2px solid transparent;
      border-radius: $border-radius;
      box-shadow: $shadow;
      user-select: none;

      @media (min-width: $screen-xl) {
        padding-right: 80px;
      }

      &:hover,
      &:has(#{$block-name}__input:focus) {
        background-color: $blue-bg--light;
      }

      &:has(#{$block-name}__input:checked) {
        border-color: $link-color;
      }
    }
  }

  &__name-text {
    color: $text-color;

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      width: 24px;
      height: 24px;
      border: 2px solid $border-color--disabled;
      border-radius: 50%;
    }

    @at-root input:focus ~ &::before {
      @include field-focus;
    }

    @at-root input:checked ~ &::before {
      border-color: $link-color;
    }

    &::after {
      content: '';
      position: absolute;
      top: 8px;
      left: 6px;
      width: 12px;
      height: 12px;
      opacity: 0;
      border-radius: 50%;
      background-color: $link-color;
      transition: opacity $transition-time;

      @at-root input:checked ~ & {
        opacity: 1;
      }
    }

    &--pay {

      &::before {
        top: 24px;
        left: 32px;
      }

      &::after {
        top: 30px;
        left: 38px;
      }
    }
  }

  &__input {
    position: absolute;
    top: 0.8em;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);

    &:focus,
    &:active {
      @include field-focus;
    }

    // сокрытие инпута в случае использования своей радиокнопки
    opacity: 0;
  }

  &__help-text-wrap {
    padding-left: 1.5em;
  }

  &__help-text {
    @include field-help-text;
  }
}
