.pending-response {
  padding-top: 150px;
  padding-bottom: 150px;

  $block-name:                &; // #{$block-name}__element

  @keyframes fill {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes move {
    from {
      right: calc(100% - 80px);
    }
    to {
      right: 0;
    }
  }

  &__title {
    margin: 0 0 48px;
  }

  &__progress {
    margin-top: 70px;
    //height: 42px;
  }

  &__progress-bar {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: $border-color;
    border-radius: 4px;
    //overflow: hidden;
  }

  &__progress-fill {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: $link-color--hover;
    border-radius: 4px;
    animation: fill 5s linear both;
  }

  &__progress-bus {
    position: absolute;
    z-index: 2;
    top: -20px;
    right: calc(100% - 80px);
    width: 80px;
    height: 42px;
    background-color: $white;
    background-position: center;
    background-size: 80px 42px;
    background-image: svg-load('../blocks/pending-response/bg-img/progress-bus.svg');
    animation: move 5s linear both;
  }
}
