.social-links {

  @media (min-width: $screen-md) {
    display: flex;
    justify-content: flex-end;
  }

  $block-name:                &; // #{$block-name}__element

  &__list {
    display: inline-flex;
    align-items: center;
    gap: 24px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: $white;
    background-color: $link-color--hover;
    border-radius: $border-radius;

    &:hover,
    &:focus {
      color: $white;
      background-color: $link-color;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
