.blog-card {
  position: relative;
  height: 100%;
  background: $white;
  border-radius: $border-radius;
  box-shadow: $shadow;
  overflow: hidden;

  $block-name:                &; // #{$block-name}__element

  &__wrapper {
    padding-top: 48px;
    padding-bottom: 70px;
  }

  &__parent-title {
    margin: 0 0 40px;
    text-align: center;
  }

  &__row {
    gap: 40px 0;
  }

  &__col {
    @include col(xs, 12);
    @include col(md, 6);
    @include col(lg, 4);
  }

  &__img {

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__text {
    padding: 20px 24px;
  }

  &__title {
    margin: 0 0 12px;
  }

  &__link {
    color: inherit !important;
    text-decoration: none !important;

    &:hover,
    &:focus {

      &::before {
        border-color: $link-color--hover;
      }
    }

    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 2px solid rgba(0, 0, 0, 0);
      border-radius: $border-radius;
      transition: border-color $transition-time;
    }
  }
}
