.lang-switcher {


  $block-name:                &; // #{$block-name}__element

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-height: 48px;
    min-width: 48px;
    padding: 0;
    font-size: $font-size;
    font-weight: 600;
    text-transform: uppercase;
    color: $text-color;
    background-color: transparent;
    border: none;
    user-select: none;
    cursor: pointer;

    &::after {
      width: 24px;
      height: 24px;
      background-size: 24px;
      background-position: center;
      background-image: svg-load('../blocks/sprite-svg/svg/chevron-down.svg', fill=$text-color);
      border: none;

      @media (max-width: $screen-md - 1) {
        display: none;
      }
    }
  }

  &__text {

    @media (max-width: $screen-md - 1) {
      display: none;
    }
  }

  &__list {
    min-width: 64px;
    font-size: $font-size;
    font-weight: 600;
  }

  &__item {

    & + & {
      margin-top: 8px;
    }
  }

  &__link {
    //font-size: inherit;
    font-weight: inherit;
  }
}
