.lang-switcher {


  $block-name:                &; // #{$block-name}__element

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-height: 48px;
    min-width: 48px;
    padding: 0;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: 600;
    text-transform: uppercase;
    color: $title-color;
    background-color: transparent;
    border: none;
    user-select: none;
    cursor: pointer;
    transition: all $transition-time;

    &::after {
      width: 24px;
      height: 24px;
      background-size: 24px;
      background-position: center;
      background-image: svg-load('../blocks/sprite-svg/svg/chevron-down.svg', fill=$title-color);
      border: none;
      transform:  translateY(-2px);
      transition: all $transition-time;

      @media (max-width: $screen-md - 1) {
        display: none;
      }
    }

    &:hover,
    &:focus {
      color: $main-color;

      &::after {
        background-image: svg-load('../blocks/sprite-svg/svg/chevron-down.svg', fill=$main-color);
      }
    }

    &[aria-expanded=true] {

      &::after {
        transform:  translateY(-2px) scale(1, -1);
      }
    }

    @media (min-width: $screen-md) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &__text {
    line-height: 1;

    @media (max-width: $screen-md - 1) {
      display: none;
    }
  }

  &__list {
    min-width: 72px;
    width: 100%;
    font-size: $font-size;
    font-weight: 600;
    background-color: $body-bg;
    border-radius: $border-radius;
    box-shadow: $shadow;
  }

  &__item {

    & + & {
      //margin-top: 4px;
      border-top: 1px solid $border-color;
    }

    &.active {

      #{$block-name}__link {
        color: $link-color;
        pointer-events: none;
      }
    }
  }

  &__link {
    //font-size: inherit;
    padding: 8px;
    font-weight: inherit;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $link-color;
      background-color: inherit;
    }

    &:active {
      color: $link-color--hover;
    }
  }
}
