.user-area {

  $block-name:                &; // #{$block-name}__element

  &__header {
    padding-top: 48px;
    //padding-bottom: 48px;

    @media (min-width: $screen-md) {
      padding-top: 70px;
    }
  }

  &__title {
    padding-bottom: 48px;
    margin-bottom: 0;
  }

  &__body {
    padding-top: 48px;
    padding-bottom: 70px;
    background-color: $blue-bg--light;
  }

  &__row {
    gap: 70px 0;
  }

  &__nav-col {
    @include col(xs, 12);
    @include col(xl, 3);
  }

  &__card-col {
    @include col(xs, 12);
    @include col-offset(xl, 1);
    @include col(xl, 8);
  }

  &__controls {
    margin-bottom: 48px;

    @media (min-width: $screen-md) {
      display: flex;
      //flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      gap: 24px;
    }

    & > * {

      @media (min-width: $screen-md) {
        flex: 0 1 33.3333%;
      }

      &:not(:last-child) {

        @media (max-width: $screen-md - 1) {
          margin-bottom: 24px;
        }
      }
    }
  }

  &__order-wrapper {

    &--empty {
      text-align: center;
    }
  }

  &__empty-title {
    margin-top: 0;
  }

  &__order {
    padding: 16px;
    margin-bottom: 24px;
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: $shadow;

    @media (min-width: $screen-md) {
      padding: 20px;
    }
  }

  &__order-header {
    margin-bottom: 24px;
  }

  &__order-title {
    margin: 0 0 6px;
    font-weight: 600;
  }

  &__order-status {
    display: flex;
    gap: 6px;
    margin-top: 0;
    font-size: $font-size-sm;

    span {
      color: $link-color;
    }

    time {
      color: $title-color;
    }
  }

  &__order-inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 16px;
    border: 1px solid $border-color;
    border-radius: $border-radius;

    @media (min-width: $screen-md) {
      flex-direction: initial;
      padding: 20px;
    }
  }

  &__order-route {

    @media (min-width: $screen-md) {
      flex: 1 1 auto;
    }
  }

  &__loc {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 6px;
    font-weight: 600;

    @media (min-width: $screen-md) {
      flex: 0 1 auto;
    }

    span {

      &:first-child {
        margin-right: 6px;

        &::after {
          display: inline-block;
          vertical-align: top;
          content: "→";
          margin-left: 6px;
          font-weight: 600;
        }
      }
    }
  }

  &__times {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 0;
    font-size: $font-size-sm;
    color: $title-color;

    time {

      &:first-child {
        margin-right: 6px;

        &::after {
          display: inline-block;
          vertical-align: top;
          content: "→";
          margin-left: 6px;
          font-weight: 600;
        }
      }
    }
  }

  &__order-download {

    .btn {
      width: 100%;
    }
  }

  &__tickets-wrapper {

    & > * + * {
      margin-top: 24px;
    }
  }

  &__tickets-title {
    margin-top: 0;
  }

  &__empty-subtitle {
    margin-top: 0;
    margin-bottom: 48px;
    color: $title-color;
  }

  &__empty-img {
    display: inline-block;
    vertical-align: top;
  }

  &__empty-btn {
    margin-top: 70px;

    @media (max-width: $screen-md - 1) {

      .btn {
        width: 100%;
      }
    }
  }

  &__config {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__add-passenger {
    display: flex;
    justify-content: center;
    padding: 4px 16px;
    margin-top: 24px;
    background-color: $body-bg;
    border-radius: $border-radius;
    box-shadow: $shadow;

    .btn {
      width: 100%;
    }
  }

  &__config-nav {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-bottom: 70px;

    // @media (min-width: $screen-xl) {
    //   width: auto;
    // }
  }

  &__transport-type-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: $body-bg;
    border-radius: $border-radius;
    box-shadow: $shadow;

    @media (min-width: $screen-xl) {
      display: inline-flex;
      flex-wrap: nowrap;
    }
  }

  &__transport-type-item {
    flex: 1 1 100%;
    padding: 4px 12px;

    @media (min-width: $screen-md) {
      flex: 0 1 33.3333%;
    }

    @media (min-width: $screen-xl) {
      flex: 0 0 auto;
      min-width: 200px;
    }

    & + & {
      border-top: 1px solid $border-color;

      @media (min-width: $screen-md) {
        border-left: 1px solid $border-color;
      }
    }

    .btn {
      width: 100%;

      @media (max-width: $screen-md - 1) {
        justify-content: initial;
      }
    }
  }
}
