.user-edit-modal {

  $block-name:                &; // #{$block-name}__element

  &__dialog {
    max-width: 630px !important;
  }

  &__content {
    background-color: $body-bg;
    border-radius: $border-radius;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0 12px;
    padding: 24px 24px 12px;

    @media (min-width: $screen-md) {
      padding-left: 40px;
      padding-right: 40px;
    }

    .btn {
      flex: 0 0 48px;
    }
  }

  &__title {
    flex: 1 1 auto;
    margin: 0;
  }

  &__body {
    padding: 12px 24px 12px;

    @media (min-width: $screen-md) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 12px 24px 24px;

    @media (min-width: $screen-md) {
      justify-content: flex-end;
      padding-left: 40px;
      padding-right: 40px;
    }

    .btn {
      min-width: 125px;
    }
  }

  &__row {
    gap: 16px 0;

    @media (min-width: $screen-md) {
      gap: 24px 0;
    }
  }

  &__col {
    @include col(xs, 12);
    @include col(md, 6);
  }
}
