.invite {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: $blue-bg--light;

  $block-name:                &; // #{$block-name}__element

  &__row {
    gap: 40px 0;
  }

  &__text-col {
    @include col(xs, 12);
    @include col-offset(md, 1);
    @include col(md, 10);
    //@include col-offset(lg, 2);
    //@include col(md, 8);
    @include col-offset(xl, 0);
    @include col(xl, 6);

    @media (min-width: $screen-xl) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }

  &__img-col {
    @include col(xs, 12);
    @include col-offset(md, 2);
    @include col(md, 8);
    @include col-offset(xl, 0);
    @include col(xl, 6);

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $screen-xl - 1) {
      order: -1;
    }
  }

  &__title {
    margin-top: 0;
    color: $title-color;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__subtitle {
    margin-top: 0;
  }

  &__link-wrapper {
    width: 100%;

    @media (min-width: $screen-md) {
      display: flex;
      justify-content: center;
    }
  }

  &__link {
    width: 210px;

    @media (max-width: $screen-md - 1) {
      width: 100%;
    }
  }

  &__img {
    display: block;
    max-height: 382px;
  }
}
